USE [master]
GO
/****** Object:  Database [WebShopAndelo]    Script Date: 23-Aug-20 1:01:07 PM ******/
CREATE DATABASE [WebShopAndelo]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WebShopAndelo', FILENAME = N'C:\Users\4nd3lo\WebShopAndelo.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'WebShopAndelo_log', FILENAME = N'C:\Users\4nd3lo\WebShopAndelo_log2.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WebShopAndelo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WebShopAndelo]
GO
USE [WebShopAndelo]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 23-Aug-20 1:01:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[AdminID] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[password] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Admin] PRIMARY KEY CLUSTERED 
(
	[AdminID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Item]    Script Date: 23-Aug-20 1:01:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Item](
	[IDItem] [int] IDENTITY(1,1) NOT NULL,
	[ProizvodID] [int] NULL,
	[RacunID] [int] NULL,
	[Kolicina] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDItem] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kategorija]    Script Date: 23-Aug-20 1:01:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kategorija](
	[IDKategorija] [int] IDENTITY(1,1) NOT NULL,
	[Naziv] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDKategorija] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Korisnik]    Script Date: 23-Aug-20 1:01:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Korisnik](
	[IDKorisnik] [int] IDENTITY(1,1) NOT NULL,
	[Ime] [nvarchar](30) NULL,
	[Prezime] [nvarchar](30) NULL,
	[Adresa] [nvarchar](100) NULL,
	[Email] [nvarchar](30) NULL,
	[KorisnikPassword] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDKorisnik] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LogInfo]    Script Date: 23-Aug-20 1:01:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LogInfo](
	[IDLogInfo] [int] IDENTITY(1,1) NOT NULL,
	[KorisnikID] [int] NULL,
	[LogDate] [nvarchar](50) NULL,
	[IPAdress] [nvarchar](300) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDLogInfo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NacinPlacanja]    Script Date: 23-Aug-20 1:01:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NacinPlacanja](
	[IDNacinPlacanja] [int] IDENTITY(1,1) NOT NULL,
	[NacinPlacanjaNaziv] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDNacinPlacanja] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proizvod]    Script Date: 23-Aug-20 1:01:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proizvod](
	[IDProizvod] [int] IDENTITY(1,1) NOT NULL,
	[Naziv] [nvarchar](30) NULL,
	[Marka] [nvarchar](40) NULL,
	[Opis] [nvarchar](300) NULL,
	[Cijena] [float] NULL,
	[Img] [nvarchar](200) NULL,
	[KategorijaID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDProizvod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Racun]    Script Date: 23-Aug-20 1:01:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Racun](
	[IDRacun] [int] IDENTITY(1,1) NOT NULL,
	[RacunDatum] [nvarchar](50) NULL,
	[KorisnikID] [int] NULL,
	[NacinPlacanjaID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDRacun] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Item]  WITH CHECK ADD FOREIGN KEY([ProizvodID])
REFERENCES [dbo].[Proizvod] ([IDProizvod])
GO
ALTER TABLE [dbo].[Item]  WITH CHECK ADD FOREIGN KEY([RacunID])
REFERENCES [dbo].[Racun] ([IDRacun])
GO
ALTER TABLE [dbo].[LogInfo]  WITH CHECK ADD FOREIGN KEY([KorisnikID])
REFERENCES [dbo].[Korisnik] ([IDKorisnik])
GO
ALTER TABLE [dbo].[Proizvod]  WITH CHECK ADD FOREIGN KEY([KategorijaID])
REFERENCES [dbo].[Kategorija] ([IDKategorija])
GO
ALTER TABLE [dbo].[Racun]  WITH CHECK ADD FOREIGN KEY([KorisnikID])
REFERENCES [dbo].[Korisnik] ([IDKorisnik])
GO
ALTER TABLE [dbo].[Racun]  WITH CHECK ADD FOREIGN KEY([NacinPlacanjaID])
REFERENCES [dbo].[NacinPlacanja] ([IDNacinPlacanja])
GO
USE [master]
GO
